@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Raleway:ital@1&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Barlow', 'Fraunces';
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

li {
    list-style: none;
}

/* HERO SECTION */
.hero {
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;

    height: 95vh;
    /* width: 100vw; */
}

/* NAVBAR STYLING */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.navbar .menu {
    display: flex;
    font-size: 1rem;
    gap: 25px;
}

.navbar .contact {
    color: black;
    background: hsl(0, 0%, 100%);
    padding: 10px 20px;
    border-radius: 25px;

    font-size: 12px;
    font-weight: bold;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: hsl(0, 0%, 100%);
}

/* HERO HEADER STYLING */
.header {
    /* margin: 0 auto; why didn't this work? */
    text-align: center;
    margin: 70px 0;
}

.header h1{
    color: hsl(0, 0%, 100%);
    font-family: 'Fraunces';
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;

    /* margin: 40px 0; */
}

.header img {
    width: 30px;
    margin-top: 100px;
}


/* SERVICES SECTION */

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.column {
    height: 500px;
    /* is it okay to set the height on the element? */
}

/* STYLING OF COLUMN 1 & 4 */
.column-1, .column-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Fraunces';
}

.column-1 div, .column-4 div {
    width: 300px;
}

.column-1 h2, .column-4 h2 {
    font-size: 28px;
}

.column-1 p, .column-4 p {
    color: hsl(210, 4%, 67%);
    font-size: 13px;
    margin: 20px 0;
    font-family: 'Barlow';
}

.learn-more {
    font-weight: 700;
    font-size: 15px;

}

/* STYLING OF COLUMN 2 & 3 */
.column-2 {
    background-image: url(images/desktop/image-transform.jpg);
    background-size: cover;
    background-position: center;
}

.column-3 {
    background-image: url(images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position: center;
}

/* STYLING OF COLUMN 5 & 6 */
.column-5 {
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;

    color: hsl(167, 40%, 24%);
}

.column-6 {
    background-image: url(images/desktop/image-photography.jpg);
    background-size: cover;
    background-position: center;

    color: hsl(198, 62%, 26%);
}

.column-5, .column-6  {
    display: flex;
    justify-content: center;
    align-items: end;

    font-family: 'Fraunces';
    font-size: 1.8rem;
}

.column-5 div, .column-6 div {
    width: 300px;
    text-align: center;

    margin-bottom: 30px;
}

.column-5 p, .column-6 p {
    font-size: 13px;
    margin: 20px 0;
}


/* TESTIMONIAL SECTION STYLING */

.testimonials {
    font-family: 'Fraunces';
    text-align: center;
    padding: 120px;
}

.testimonials h2 {
    color: hsl(210, 4%, 67%);
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.testimonial-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimony {
    font-family: 'Barlow';
    font-size: 12px;
    margin: 35px 0;
    width: 280px;
}

.name {
    font-size: 13px;
    font-weight: 700;
}

.position {
    color: hsl(210, 4%, 67%);
    font-size: 9px;
    margin-top: 3px;
}

/* GALLERY SECTION STYLING */

.gallery-container {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-img-1 {
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position: center;
}

.gallery-img-2 {
    background-image: url(images/desktop/image-gallery-orange.jpg);
    background-size: cover;
    background-position: center;
}

.gallery-img-3 {
    background-image: url(images/desktop/image-gallery-cone.jpg);
    background-size: cover;
    background-position: center;
}

.gallery-img-4 {
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-position: center;
}

/* FOOTER SECTION STYLING */

.footer-div {
    background: hsl(155, 50%, 72%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    padding: 35px 0;
}

.footer-div h4 {
    color: hsl(167, 46%, 32%);
    font-weight: 900;
    margin-bottom: 20px;
}

.footer-div ul {
    display: flex;
    gap: 30px;
}

.footer-div li {
    /* margin-right: 30px; */
    font-size: 12px;
    margin-bottom: 50px;
}

.footer-div a {
    color: hsl(168, 34%, 41%);
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links img{
    width: 12px;
    height: 12px;
}


/* MOBILE STYLING */

@media (max-width: 375px) {

/* STYLING HAMBURGER */
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        text-align: center;
    }

    .menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 10px 0;
        opacity: 0.9;
    }

    .menu a {
        color: hsl(210, 4%, 67%);
    }

    .menu-list {
        margin: 8px 0;
    }

    .menu.active {
        left: 0px;
    }

    .navbar .contact {
        background-color: hsl(51, 100%, 49%);
        font-size: 1.2rem;
    }

/* HERO STYLING */

    .hero {
        background-image: url(images/mobile/image-header.jpg);
        height: 100vh;
    
    }

    .header h1{
        /* padding: 0 20px; */
        font-size: 2.5rem;
        margin: 70px 0;
    }

    .header img {
        margin-top: 15px;
        width: 50px;
    }

/* SEVICES SECTION STYLING */

    .services {
        grid-template-columns: 1fr;

    }

    .column {
        height: 500px;
    }

/* STYLING OF COLUMN 1 & 4 */
    .column-1, .column-4 {
        text-align: center;
    }

    .column-1 h2, .column-4 h2 {
        font-size: 2rem;
        font-weight: 900;
    }
    
    .column-1 p, .column-4 p {
        color: hsl(210, 4%, 67%);
        font-size: 18px;
        font-weight: 600;
        margin: 28px 0;
        font-family: 'Barlow';
    }
    
    .learn-more {
        font-weight: 900;
        font-size: 18px;
    
    }

/* STYLING OF COLUMN 2 & 3 */
    .column-2 {
        background-image: url(images/mobile/image-transform.jpg);
        grid-row: 1 / 2;
    }

    .column-3 {
        background-image: url(images/mobile/image-stand-out.jpg);
    }

/* STYLING OF COLUMN 5 & 6 */
    .column-5 {
        background-image: url(images/mobile/image-graphic-design.jpg);
    }

    .column-6 {
        background-image: url(images/mobile/image-photography.jpg);
    }

    .column-5 h5,
    .column-6 h5 {
        font-size: 2rem;
        font-weight: 900;
    }

    .column-5 p,
    .column-6 p {
        font-size: 15px;
        font-weight: bold;
        margin: 20px 0;
    }
    
/* TESTIMONIAL SECTION STYLING */
    .testimonials {
        padding: 80px 30px;
    }

    .testimonials h2 {
        font-size: 1.2rem;
    }

    .testimonial-container {
        /* flex-wrap: wrap; which one is better? */
        flex-direction: column;
        gap: 60px;
    }

    .client-img {
        width: 80px;
        height: 80px;
    }
    
    .testimony {
        color: hsl(0, 0%, 51%);
        font-size: 15px;
        font-weight: bold;
        margin: 30px 0;
    }
    
    .name {
        font-size: 1.3rem;
        font-weight: 900;
    }
    
    .position {
        font-size: 16px;
        margin-top: 5px;
    }

/* GALLERY SECTION STYLING */
    .gallery-container {
        height: 400px;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-img-1 {
        background-image: url(images/mobile/image-gallery-milkbottles.jpg);
    }

    .gallery-img-2 {
        background-image: url(images/mobile/image-gallery-orange.jpg);
    }

    .gallery-img-3 {
        background-image: url(images/mobile/image-gallery-cone.jpg);
    }

    .gallery-img-4 {
        background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
    }

/* FOOTER SECTION STYLING */
    .footer-div {
        padding: 50px 35px;
    }

    .footer-div ul {
        gap: 0;
        justify-content: space-between;
        width: 100%;
    }

    .footer-div h4 {
        color: hsl(167, 46%, 32%);
        font-weight: 900;
        margin-bottom: 30px;
        font-size: 2.5rem;
    }

    .footer-div li {
        /* margin-right: 30px; */
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 70px;
    }

    .social-links {
        gap: 30px;
    }

    .social-links img{
        width: 25px;
        height: 25px;
    }

}